# Database URL format: 
# postgresql://user:password@host:port/database_name

# Articles database configuration
ARTICLES_DB_URL="postgresql://user:password@localhost:5432/articles_db"

# Movies and actors database configuration
MOVIES_DB_URL="postgresql://user:password@localhost:5432/movies_db"